name: Create tag if not there after a pull request
on:
  push
  # pull_request

permissions: write-all
  
jobs:
  create_tag_from_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set ENV values from YAML
      uses: dcarbone/yaml-to-env-action@v1.0.0
      with:
        yaml-file: info.yaml

    - name: Create tag if not present
      uses: rickstaa/action-create-tag@v1
      id: "tag_create"
      with:
        tag: $VERSION
        tag_exists_error: false
        github_token: ${{ secrets.GITHUB_TOKEN }}
